<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
  IgnorableNamespaces="uap rescap uap6">

  <Identity
    Name="MarioArmas.ColorSnatch"
    Publisher="CN=A850A202-BE01-4FD4-A6C8-72D96EF1F82E"
    Version="1.0.4.0" />

  <Properties>
    <DisplayName>Color Snatch</DisplayName>
    <PublisherDisplayName>Mario Armas</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Color Snatch"
        Description="Descubre y captura el color exacto que necesitas con esta aplicación de escritorio intuitiva y liviana. Con solo mover el cursor, podrás identificar el color de cualquier punto en tu pantalla. Nuestra herramienta te muestra al instante el código HEX y los valores RGB del color ubicado bajo el puntero del mouse, facilitando la selección precisa para diseñadores, desarrolladores y creadores visuales."
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <uap6:Capability Name="graphicsCapture"/>
  </Capabilities>
</Package>
